<%- include("../includes/head.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/profile.css">
<link rel="stylesheet" type="text/css" href="/css/sales_order.css">
<link rel="stylesheet" href="/css/navigation.css">
</head>
<body>
  
  <%- include("../includes/navigation.ejs") %>
  
  <%- include("../includes/profilehead.ejs") %>
  
  <article>
    <h1>Items Ordered</h1>
      <div class="wrapper">
        <div class="product-img">
          <img src="/imgs/calculator/3.jpg" height="200" width="327">
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>Status :On The Way</h1>
            <p>Category : Calculator</p>
            <p>Item Condition : Usable</p>
            <p>Discription :<br>
              Simillar to scientific one
            </p>
          </div>
          <div class="product-price-btn">
            <p><span>750</span>₹</p>
            <button type="button">Remove</button>
          </div>
        </div>
      </div>
      
      <div class="wrapper">
        <div class="product-img">
          <img src="/imgs/cycles/4.jpg" height="200" width="327">
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>Status :Shipping</h1>
            <p>Category : Cycle</p>
            <p>Item Condition : Usable</p>
            <p>Discription :<br>
              This is not just a cycle<br> it's a Bycycle
            </p>
          </div>
          <div class="product-price-btn">
            <p><span>900</span>₹</p>
            <button type="button">Remove</button>
          </div>
        </div>
      </div>
      
      <div class="wrapper">
        <div class="product-img">
          <img src="/imgs/stationary/1.jpg" height="200" width="327">
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>Status :Delivered</h1>
            <p>Category : stationary</p>
            <p>Item Condition : Usable</p>
            <p>Discription :<br>
              In good condition
            </p>
          </div>
          <div class="product-price-btn">
            <p><span>100</span>₹</p>
            <button type="button">Remove</button>
          </div>
        </div>
      </div>

    </article>
  </div>
  
</body>
</html>