<%- include("../includes/head.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/profile.css">
<link rel="stylesheet" type="text/css" href="/css/sales_order.css">
<link rel="stylesheet" href="/css/navigation.css">
</head>
<body>

  <%- include("../includes/navigation.ejs") %>
 
  <%- include("../includes/profilehead.ejs") %>

    <article>
        <h1>Items kept for Sales</h1>
        <div class="wrapper">
                <div class="product-img">
                  <img src="/imgs/cycles/1.jpg" height="200" width="327">
                </div>
                <div class="product-info">
                  <div class="product-text">
                    <h1>Status :Not Sold</h1>
                <p>Category : Cycle</p>
                <p>Item Condition : Usable</p>
                <p>Discription :<br>
                 This is not just a cycle<br> it is a Bycycle
                </p></div>
                  <div class="product-price-btn">
                    <p><span>1000</span>₹</p>
                    <button type="button">Remove</button>
                  </div>
                </div>
        </div>
        <div class="wrapper">
            <div class="product-img">
              <img src="/imgs/ChartHolder/3.jpg" height="200" width="327">
            </div>
            <div class="product-info">
              <div class="product-text">
                <h1>Status :Sold</h1>
            <p>Category : Chart Holder</p>
            <p>Item Condition : Usable</p>
            <p>Discription :<br>
             Nice Look
            </p></div>
              <div class="product-price-btn">
                <p><span>120</span>₹</p>
                <button type="button">Remove</button>
              </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="product-img">
              <img src="/imgs/books/2.jpg" height="200" width="327">
            </div>
            <div class="product-info">
              <div class="product-text">
                <h1>Status :Not Sold</h1>
            <p>Category : Books</p>
            <p>Item Condition : Good</p>
            <p>Discription :<br>
             Some pages are torn out
            </p></div>
              <div class="product-price-btn">
                <p><span>600</span>₹</p>
                <button type="button">Remove</button>
              </div>
            </div>
        </div>
    </article>
</div>

</body>
</html>