<nav class="navbar">
    <label for="chkToggle" class="navbar-toggle" id="js-navbar-toggle">
        <i class="fa fa-bars"></i>
    </label>
    <a href="/" class="logo">E-xChange</a>
    <input type="checkbox" id="chkToggle">
    <ul class="main-nav" id="js-menu">
        <li><a href="/buyer" class="nav-links <%= path === '/buyer'? 'active':'' >">Buyer</a></li>
        <li><a href="/seller" class="nav-links <%= path === '/seller'? 'active':'' >">Seller</a></li>
        <li><a href="/profile" class="nav-links <%= path === '/profile'? 'active':'' >">Profile</a></li>
        <li>
            <a href="/cart" class="nav-links">
                <i class="fa fa-shopping-cart" style="font-size: 20px;"></i>
            </a>
        </li>
    </ul>
</nav>