<div class="profile-top">
    <div><img src="/imgs/profile.jpg"></div>
    <h1>Kadali Sai Vivek</h1>
   </div>
  
    
    <div class="container">
      <nav class="menu">
          <ul class="main-menu">
              <li><i class="fa fa-home"></i><a href="/profile">Home</a></li>
              <li><i class="fa fa-user"></i><a href="/profile_profile">Profile</a> </li>
              <li><i class="fa fa-inr" aria-hidden="true"></i><a href="/profile_sales">Sales</a></li>
              <li><i class="fa fa-cart-plus" aria-hidden="true"></i><a href="/profile_orders">Orders</a></li>
          </ul>
      </nav>