<div class="profile-top">
    <div><img src="/imgs/profile.jpg"></div>
    <h1>Kadali Sai Vivek</h1>
   </div>
    <div class="container">
      <nav class="menu">
          <ul class="main-menu">
            <a href="/profile/"><li><i class="fa fa-user"></i>Profile</li></a>
            <a href="/profile/sales"><li><i class="fa fa-inr" aria-hidden="true"></i>Sales</li></a>
            <a href="/profile/orders"><li><i class="fa fa-cart-plus" aria-hidden="true"></i>Orders</li></a>
          </ul>
      </nav>