<div class="profile-top">
    <div><img src="/imgs/profile.jpg"></div>
    <h1>Kadali Sai Vivek</h1>
   </div>
  
    
    <div class="container">
      <nav class="menu">
          <ul class="main-menu">
              <li><a href="/profile"><i class="fa fa-home"></i>Home</li></a>
              <li><a href="/profile_profile"><i class="fa fa-user"></i>Profile</li></a>
              <li><a href="/profile_sales"><i class="fa fa-inr" aria-hidden="true"></i>Sales</li></a>
              <li><a href="/profile_orders"><i class="fa fa-cart-plus" aria-hidden="true"></i>Orders</li></a>
          </ul>
      </nav>