<%- include("includes/head.ejs") %>

    <!-- <script type="text/javascript" src="index.js"></script> -->
</head>
<body>
    
  <%- include("includes/navigation.ejs") %>

 <h1 class="cat-heading">Select Category</h1>
 <div class="wrapper">
  <div class="cards_wrap">

    <% Categories.forEach(function(item){ %>
      <div class="card_item">
        <div class="card_inner">
          <div class="card_top">
            <img class="buyer-imgs" src="<%= item.img_add %>" alt="1" />
          </div>
          <div class="card_bottom">
            <div class="card_category">
              <a href=""><%= item.title %></a>
            </div>
           
          </div>
        </div>
      </div>
      
   <% }) %>

  </div>
</div>
</body>
</html>