<%- include("includes/head.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/profile.css">

</head>
<body>

  <%- include("includes/navigation.ejs") %>
 
  <%- include("includes/profilehead.ejs") %>

    <article>
        <h1>Name : Kadali Sai Vivek</h1>
        <div class="content">
            <p>
              Student at National Institute of Technology Warangal   
            </p>
          
          
        </div>
    </article>
</div>

</body>
</html>