<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E-xchange</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gorditas&family=Luckiest+Guy&family=Mate+SC&display=swap" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
</head>
<body>
    
<nav class="navbar">
        <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
          <i class="fa fa-bars"></i>
        </label>
        <a href="#" class="logo">E-xchange</a>
         <input type="checkbox" id="chkToggle"></input>
             <ul class="main-nav" id="js-menu">
               <li>
                 <a style="color: #fff" href="#" class="nav-links ">Buyer</a>
               </li>
               <li>
                 <a href="/seller" class="nav-links">Seller</a>
               </li>
               <li>
                 <a href="#" class="nav-links">Profile</a>
               </li>
               <li>
                 <a href="#" class="nav-links"><i class="fa fa-shopping-cart" style="font-size:20px"></i> </a>
               </li>
             </ul>
 </nav>

    

 <div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="profile_img" src="imgs/profile.jpg" alt="student dp">
              <h3>Sai Vivek Kadali</h3>
            </div>
            <div class="card-body">
                <p class="mb-0"><strong class="pr-1">Roll Number :</strong>197139</p>
                <p class="mb-0"><strong class="pr-1">Year :</strong>3rd year</p>
                <p class="mb-0"><strong class="pr-1">Branch :</strong>CSE</p>      
                <p class="mb-0"><strong class="pr-1">Section :</strong>A</p> 
            </div>
          </div>
        </div>
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0"><i class="far fa-clone pr-1"></i>History of Items Sold</h3>
                </div>
                <div class="card-body pt-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                </div>
              </div>
            <div style="height: 26px"></div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>History of Items Bought</h3>
            </div>
            <div class="card-body pt-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>
</html>