<%- include("includes/head.ejs") %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
  <body>
      
    <%- include("includes/navigation.ejs") %>

          
  <form action="/" method="post">
  </form>
      
<form action="/" method="post">
  <div class="contact-us">
    <div class="title">
      <h1 class="seller-heading">Sell Items</h1>
    </div>
    <div class="form">
      <div class="form-items">
        <input type="text" class="input" placeholder="Category">
        <i class="fas fa-angle-double-right"></i>
      </div>
      <div class="form-items">
        <input type="text" class="input" placeholder="Owner Name">
        <i class="fas fa-user"></i>
      </div>
      <div class="form-items">
        <input type="text" class="input" placeholder="Price">
        <i class="fas fa-rupee-sign"></i>
      </div>
      <div class="form-items">
        <input type="text" class="input" placeholder="Item Condition">
        <i class="fas fa-wrench"></i>
      </div>
      <div class="form-items">
        <input type="text" class="input" placeholder="Branch and Year">
        <i class="fas fa-graduation-cap"></i>
      </div>
      <div class="form-items">
        <input type="file" class="input" name="filename">
        <i class="fas fa-image"></i>
      </div>
  
      <div class="form-items">
        <textarea class="input message" cols="30" rows="10" placeholder="DISCRIPTION ABOUT ITEM...."></textarea>
      </div>
    </div>
  
    <div class="btn">Sell<i class="fas fa-arrow-right"></i></div>
  </div>
  </form>
  </body>
</html>