@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right, #bf6ecf78 , #2476ae6e);
  
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page-title{
  font-family: 'Gorditas', cursive;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 50px;
  font-size: 6rem;
}
.grid {
  font-family: "Poppins", sans-serif;
  margin-top:100px;
  margin-left: 150px;
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-family: 'Mate SC', serif  ;
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}
.carn-details{
  font-family: 'Mate SC', serif  ;
  font-size: 2rem;
  font-weight: 500;
  color: #0d0d0d;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

