*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, #bf6ecf78 , #2476ae6e);
}

::-webkit-scrollbar{
  width: 0;
}

.active{
  color: #fff;
}

.col-lg-4{
  margin-bottom: 5px;
}

/* Profile */
.student-profile{
  margin-top: 10px;
}
.student-profile .card {
  border-radius: 10px;
}
.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}
.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}
.student-profile .card p {
  font-size: 16px;
  color: #000;
}
.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}