.cat-heading{
  font-family: 'Gorditas', cursive;
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 4rem;
}

.buyer-imgs {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.wrapper {
  width: 100%;
  margin: 20px auto;
  margin-top: 50px;
}

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
  margin:0 100px;
}

.cards_wrap .card_item {
  width: 25%;
  padding: 10px;
}

.cards_wrap .card_inner {
  background: #7f5a82;
  border-radius: 30px;
}

.cards_wrap .card_top {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-bottom: 0;
}

.cards_wrap .card_bottom {
  padding: 15px;
}

.cards_wrap .card_bottom .card_category {
  text-transform: uppercase;
  text-align: center;
}
.cards_wrap .card_bottom .card_category a{
  text-decoration: none;
  color: #fff;
  font-size:1.3rem;
  font-family: 'Luckiest Guy', cursive;
}

@media (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
}

@media (max-width: 528px) {
  .cards_wrap .card_item {
    width: 100%;
  }
}