.contact-us{
  width: 500px;
  background: #fff;
  padding: 50px;
  margin: auto;
  margin-top: 10px;
  border-radius: 30px;
  position: relative;
}

.title h1{
  color: #535274;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}

.form,
.form-items{
  width: 100%;
}

.form-items .input{
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.form-items .input.message{
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
  resize: none;
}

.btn{
  background: #827ffe;
  text-align: center;
  color: #fff;
  padding: 12px;
  border-radius: 25px;
  width: 50%;
  margin-left: 100px;
}

.btn .fas{
  margin-left: 10px;
  font-size: 12px;
}

.form-items{
  position: relative;
}

.form-items .fas{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9a99aa;
}

.seller-heading{
  font-family: 'Gorditas', cursive;
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 2rem;
}
.dropdown{
  color:#444447;
  
}
.dropdown > option{
  font-size: 0.8rem;
  color:black;
}

