<%- include("../includes/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/aboutUs.css">
  <link rel="stylesheet" href="/css/navigation.css">
  </head>
  <body>

  <%- include("../includes/navigation.ejs") %>

  <div class="profile-top">
    <div><img src="/imgs/logo.jpg"></div>
    <h1>Project E-xChange</h1>
   </div>
    <div class="container">
    <article>
      <h1>E-xchange</h1>
      <div class="content">
        <p>
          "E-xchange" stands for electronic exchange, where used goods are sold and bought for money.
          The idea behind this project is to develop a institute / organisation level platform where people within that
          organisation can buy or sell goods or do both.<br>
          Here, E-xchange is developed to be used by students of NITW, where students can buy and sell goods like
          calculators, stationery, textbooks, cycles and many more.<br>
          Motto:
          With this website, one can:<br>
          1. Easily find customers for their belongings<br>
          2. Easily find their needs at better prices<br>
          3. Make money by selling reused things instead of keeping thrm idle<br>
          4. Reuse sustainable goods instead of wasting/misusing them<br>
        </p>
      </div>
    </article>
  </div>
</body>
</html>